

/* Averta Font Face Declarations */
@font-face {
  font-family: 'Averta';
  src: url('/fonts/averta/avertastd-regular.681ded9.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/averta/avertastd-semibold.d06fa21.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/averta/avertastd-bold.8d0bb53.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Averta', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1C1C1D;
}



